.all_search{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 15px;
    position:relative;
}

.input,
.input:focus{
    width: 200px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
}


.list{
    position: absolute;
    width: 200px;
    height: 50px;
    overflow: scroll;
    z-index: 5;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #f6f6f6;
}

