.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.pic{

    width: 150px;
    height: 150px;
}

.card .container{
    font-size: 0.7em;
    margin:10px;

}