.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#89aecb;
    margin: 0px;
    height: 40px;
}

.linkcolor{
    color: #fff; 
    text-decoration: none; 
}