.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:center; */
    /* height: 80vh; */
}

.picP{
    width: 250px;
    height: 250px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.container{
    align-items: center;
    text-align: center;
    padding:15px;
    width: 40%;
    justify-content: center;
}

.product .title{
    bold: bold;
}